.header-logo {
  color: $primaryColor;
  text-decoration: none;

  font-family: Raleway, sans-serif;
  @include fontStyle(24px, 1.16, 0.03em);
  padding: 16px 0;
  display: block;

  @media screen and (min-width: 768px) {
    padding: 26px 0;
  }

  &--web {
    color: $hoverColor;
  }
}
