.mobile-menu {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  z-index: 1;

  padding-top: 21px;
  padding-bottom: 48px;

  transition: left 250ms $timingFunction;
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.mobile-menu.is-hidden {
  left: 100%;
}
.mobile-menu-btn-open {
  display: block;
  margin-left: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: $hoverColor;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu-btn-close {
  margin-left: auto;
  display: block;
  margin-bottom: 9px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: $hoverColor;
  }
}

.mobile-menu-navigation {
  margin-bottom: -30px;

  &__link {
    @include fontStyle(40px, 1.17, 0.02em);
    font-weight: 500;
    text-decoration: none;
    color: $primaryColor;
    &:hover,
    &:focus {
      color: $hoverColor;
    }
  }

  &__item {
    margin-bottom: 30px;
  }
}

.mobile-menu-navigation-contacts {
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
  &__tel {
    font-weight: 500;
    @include fontStyle(34px, 1.17, 0.02em);

    color: $hoverColor;
    text-decoration: none;
  }
  &__mail {
    text-decoration: none;
    font-weight: 500;
    @include fontStyle(24px, 1.16, 0.02em);

    color: $secondColor;
  }
}

.mobile-menu-social-list {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;

  &__item:not(:last-child) {
    margin: 0 10px 10px 0;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  &__link {
    text-decoration: none;
    font-weight: 500;
    @include fontStyle(18px, 1.22, 0.02em);

    color: $hoverColor;
  }
}
