.projects-list {
  margin-bottom: -30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.projects-item {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.card {
  border: 1px solid #eeeeee;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  &__thumb {
    position: relative;
    overflow: hidden;
  }
  &__img {
    width: 100%;
  }

  &__content {
    padding: 20px;
    flex-grow: 1;
  }

  &__title {
    font-weight: 700;
    @include fontStyle(18px, 2, 0.06em);

    margin-bottom: 3px;
  }
  &__text {
    color: $secondColor;

    @include fontStyle(16px, 1.87);
  }
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

    cursor: pointer;
  }
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);
  transition: transform 250ms $timingFunction;
}

.card-overlay-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 322px;
  height: 168px;

  color: #ffffff;
  @include fontStyle(18px, 1.56);
}

.card:hover .card-overlay {
  transform: translateY(0);
}
