.title {
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (max-width: 1199px) {
    font-size: 28px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}
